@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #0a0a0a;
  --background-light: #ededed;

  --text-color-dark: #ededed;
  --text-color-light: #171717;

  --hotyellow: ##FFD966;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
    background: var(--background-light);
  }
}

.light-theme {
  body {
    color: var(--text-color-light);
    background: var(--background-light);
  }
}

.dark-theme {
  body {
    color: var(--text-color-dark);
    background: var(--background-dark);
  }
}